h1 {
  text-align: center;
  font-family:'Inter';
  font-weight: 700;
}

.container{
  max-width: 100%;
  margin:0 25%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 480px;
  height: 320px;
  margin: 0 auto;
  overflow: hidden; 
}

.slider-line {
  width: 480px;
  height: 320px;
  display: flex;
  position: relative;
  right: 0;
  transition: all ease 1s;
}

.slider-prev, .slider-next {
  width: 130px;
  height: 50px;
  margin: 10px 20px;
}

.slider-prev:hover, .slider-next:hover {
  background: radial-gradient(63.82% 63.82% at 50% 50%, #6da7c9 0%, #c4d7db 100%); 
  border-radius: 20px;
} 

#select_form{
  width: 930px;
  font-size: 550px;
  background: radial-gradient(63.82% 63.82% at 50% 50%, #AFE8F4 0%, #2C7096 100%);
  border: 2px solid #595656;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

#select_file{
  display: none;
}






